[submodule "lib/smex"]
	path = lib/smex
	url = https://github.com/zenmacs/smex.git
[submodule "lib/popup"]
	path = lib/popup
	url = https://github.com/zenmacs/popup-el.git
[submodule "lib/project-explorer"]
	path = lib/project-explorer
	url = https://github.com/zenmacs/project-explorer.git
[submodule "lib/es-lib"]
	path = lib/es-lib
	url = https://github.com/zenmacs/es-lib.git
[submodule "lib/pkg-info"]
	path = lib/pkg-info
	url = https://github.com/zenmacs/pkg-info.el.git
[submodule "lib/epl"]
	path = lib/epl
	url = https://github.com/zenmacs/epl.git
[submodule "lib/spinner"]
	path = lib/spinner
	url = https://github.com/zenmacs/spinner.el.git
[submodule "lib/seq"]
	path = lib/seq
	url = https://github.com/zenmacs/seq.el.git
[submodule "lib/es-windows"]
	path = lib/es-windows
	url = https://github.com/zenmacs/es-windows.git
[submodule "lib/cider"]
	path = lib/cider
	url = https://github.com/zenmacs/cider.git
[submodule "lib/clojure-mode"]
	path = lib/clojure-mode
	url = https://github.com/zenmacs/clojure-mode.git
[submodule "lib/clj-refactor"]
	path = lib/clj-refactor
	url = https://github.com/zenmacs/clj-refactor.el.git
[submodule "lib/helm-ag"]
	path = lib/helm-ag
	url = https://github.com/zenmacs/helm-ag.git
[submodule "lib/helm"]
	path = lib/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "lib/helm-projectile"]
	path = lib/helm-projectile
	url = https://github.com/bbatsov/helm-projectile.git
